
@{
    Layout = "~/Views/Shared/_RootLayOut.cshtml";
    this.RedefineSection("html_head_section");
    this.RedefineSection("scripts");

}

    @(await RenderSectionAsync("top_nav_section", false))
<div class="container body-content">
    @(await RenderSectionAsync("main_section", false))
    <hr />
    @(await RenderSectionAsync("footer_section", false))
</div>